@media (min-width: 480px){
.Home{
    /* position: fixed; */
    min-width: 600px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
.left_con{
    width: 20%;
    max-width: 220px;
    height: 84vh;
    padding-left: 6.25vw;
    padding-top: 8vh;
    padding-bottom: 8vh;
    background: linear-gradient( to right, white,  rgb(222, 222, 222))
}
.right_con{
    width: 80%;
    height: 84vh;
    padding-right: 6.25vw;
    padding-top: 8vh;
    padding-bottom: 8vh;
    background: linear-gradient( to left,rgb(188, 167, 146), rgb(168, 147, 136))
    
}

.title_left{

    padding: 15px;
    padding-left: 25px;
    
    height: 60px;
    
    background-color: rgb(241, 237, 233);
}
.blog_title{
    height: 60px;
    width: 250px;
    font-size: 50px bold;
    color:rgb(139, 136, 134);
}

.title_right{ 
    height: 90px;
    background-color: rgb(241, 237, 233);
    
}

.content_right{
    height: 67vh;
    width: 100%;
    padding-bottom:30px;
    background-color: rgb(188, 167, 146);
    color: rgb(71,73,73);
    overflow:scroll;
    text-decoration-color: rgba(115, 134, 133, 0.555);
}

.content{
    display: flex;
    flex-basis: 100%;
}

/* category css */
.catebnt{
    width: 16vw;
    max-width: 210px;
    height: 60px;
    padding-left: 20px;
    color: rgb(188, 167, 146);
}
.bt_pd{
    height: 15px;
}
.category { 
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 67vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
/*  */

/* intro css */
.introcont{
    padding-left: 25px;
    display: flex;
    height: 67vh;
    
}
.intro_left{
    background-color: rgb(208, 187, 166);
    color: rgb(33,33,33);
    border-radius: 10px 10px 10px 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-right: 25px;
    margin-top: 25px;
}
.intro_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: thick double white;
    padding-right: 25px;
    padding-left: 25px;
}
.intro_t{
    border-bottom: thick double snow;
}
.intro{
    border-bottom: 0.3px solid snow;
    margin-bottom: 3px;
    /* width: 70%; */
}

.git{
    color: rgb(71, 71, 71);
    
}
/*  */

/* study css */
.study{
    display: flex;
    flex-direction: row;

}
.in_study{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}
.in_content{
    min-width: 300px;
    max-width: 380px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 300px;
    background-color: rgb(208, 187, 166);
    color: rgb(33,33,33);
    border-radius: 10px 10px 10px 10px;
    margin: 40px;
    margin-right: 0px;
}
.study_title{
    /* text-align: center; */
    font-size: 25px;
    height: 14%;
}
.study_content{
    border-top: whitesmoke solid 0.5px;
    padding-top: 8px;
    max-height: 215px;
    text-overflow: ellipsis;
    overflow: auto;
    height: 76%;
    text-overflow: ellipsis; 
}
.study_end{
    border-top: whitesmoke solid 0.5px;
    padding-top: 10px;
    display: flex;
    height: 10%;
}
.study_see{
    width: 50%;
    color: rgb(33,33,33);
}
.study_date{
    width: 50%;
    border-left: whitesmoke solid 0.5px;
    padding-top: 2px;
    font-size: 15px;
    color: black;
    text-align: center;
}

.modal_{
    position: fixed;
    margin-top: 2%;
    margin-bottom: 2%;
    left: calc(5%);right: calc(5%);
    background-color: white;
    display: flex; justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 90vh;
    flex-direction: column;
}

.img_cnt{
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 85vh;
    display: flex;
    flex-direction: row;
}
.st_img{
    width: 97%;
    height: auto;
    max-width: 48%;
    align-items: center;
    display: flex; justify-content: center;
    /* object-fit: scale-down; */
}
.pr_img{
    width: 96%;
    height: auto;
    max-height: 100%;
    max-width: 96%;
    align-items: center;
    display: flex; justify-content: center;
    /* object-fit: scale-down; */
}

.direc_cnt{
    display: flex;
    flex-direction: column;
}
.direc_pad{
    height: 40%;
    width: 3%;
}
.direc_bnt{
    border: 0;
    outline: 0;
    height: 30px;
    background-color: white;
}
.direc_img{
    width: 100%;
    height: 100%;
    align-items: center;
}
}

@media (min-width: 320px) and (max-width: 480px) {
.Home{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.left_con{
    width: 93vw;
    height: 12vh;
    padding: 3.5vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient( to bottom, white,  rgb(222, 222, 222));
}
.title_left{
    width: 94vw;
    padding-top: 2vh;
    height: 10vh;
    background-color: rgb(241, 237, 233);
}
.blog_title{
    height: 7vh;
    width: 65vw;
    font-size: 50px bold;
    color:rgb(139, 136, 134);
}
.category { 
    height: 4vh;
    /* width: 100%; */
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
}
.catebnt{
    width: 31.4vw;
    height: 4vh;
    color: rgb(188, 167, 146);
}
.bt_pd{
    width: 0px;
}
.right_con{
    width: 93vw;
    min-height: 85.5vh;
    padding-right: 3.5vw;
    padding-left: 3.5vw;
    background: linear-gradient( to top,rgb(188, 167, 146), rgb(168, 147, 136));
}
.content_right{
    width: 100%;
    height: 100%;
    padding : 3vw;

    overflow: scroll;
}
/* intro */
.intro_left{
    background-color: rgb(208, 187, 166);
    color: rgb(33,33,33);
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.intro_right{
    display: flex;
    flex-direction: column;
    border-top: thick double white;
    padding-left: 5px;
    padding-right: 25px;

}
.intro_t{
    border-bottom: thick double snow;
}
.intro{
    border-bottom: 0.3px solid snow;
    margin-bottom: 3px;
    /* width: 70%; */
}
/* study css */
.study{
    display: flex;
    flex-direction: row;

}
.in_study{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}
.in_content{
    min-width: 300px;
    max-width: 380px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 300px;
    background-color: rgb(208, 187, 166);
    color: rgb(33,33,33);
    border-radius: 10px 10px 10px 10px;
    margin-top: 7px;
    margin-bottom: 8px;
}
.study_title{
    /* text-align: center; */
    font-size: 25px;
    height: 14%;
}
.study_content{
    border-top: whitesmoke solid 0.5px;
    padding-top: 8px;
    max-height: 215px;
    text-overflow: ellipsis;
    overflow: auto;
    height: 76%;
    text-overflow: ellipsis; 
}
.study_end{
    border-top: whitesmoke solid 0.5px;
    padding-top: 10px;
    display: flex;
    height: 10%;
}
.study_see{
    width: 50%;
    color: rgb(33,33,33);
}
.study_date{
    width: 50%;
    border-left: whitesmoke solid 0.5px;
    padding-top: 2px;
    font-size: 15px;
    color: black;
    text-align: center;
}


}